*.sfc
*.smc
*.sym
*.sav
*.bst
*.srm
*.cht
*.yml

EN_ROM/*.*

/*.png
/*.spc
/*.bin


*.~lock*
*.csv.asm
*.dialogue.txt

TOOLS/64tass.exe
TOOLS/c2a.py
TOOLS/process_dialogue.py

*.sublime*

Errors.txt
Log.txt
Map.txt
labels.txt
